body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

.navbar {
  background: #020617;
  padding: 15px 0;
}

.nav-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a.active {
  border-bottom: 2px solid #38bdf8;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.subtitle {
  color: #38bdf8;
  font-size: 1.2rem;
}

.tagline {
  opacity: 0.8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 18px;
  background: #38bdf8;
  color: black;
  border-radius: 6px;
}

.section {
  padding: 60px 0;
}

.section.light {
  background: #020617;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.skills li {
  margin-bottom: 8px;
}

.project {
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #334155;
}

.contact-box p {
  margin: 10px 0;
}

.footer {
  text-align: center;
  padding: 30px;
  opacity: 0.6;
}
