body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

.navbar {
  background: #020617;
  padding: 15px 0;
}

.nav-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a.active {
  border-bottom: 2px solid #38bdf8;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.subtitle {
  color: #38bdf8;
}

.section {
  padding: 60px 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.project, .post {
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #334155;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

textarea {
  min-height: 120px;
}

.btn {
  background: #38bdf8;
  color: black;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.footer {
  text-align: center;
  padding: 30px;
  opacity: 0.6;
}
